name: MyLocalTon Docker (branch)

on: [push,workflow_dispatch,workflow_call]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Java 19
        uses: actions/setup-java@v2
        with:
          java-version: '19'
          distribution: 'adopt'

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Java Faucet
        run: |
          mvn clean compile package -DskipTests

      - name: Get tag-1 as branch name
        id: tag1
        run: |
          echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Build and push
        id: docker_build_1
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: ./
          file: ./Dockerfile
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.tag1.outputs.TAG }}

      - name: Get tag-2 as branch name
        id: tag2
        run: |
          echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Build and push faucet
        id: docker_build_2
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: ./
          file: ./faucet/Dockerfile
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-faucet:${{ steps.tag2.outputs.TAG }}

      - name: Get tag-3 as branch name
        id: tag3
        run: |
          echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Build and push blockchain-explorer
        id: docker_build_3
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: ./
          file: ./explorer/Dockerfile
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-explorer:${{ steps.tag3.outputs.TAG }}
